body {
    height: 100vh;
    margin: 0;
    font-family: "Roboto";
    color: white;
    background-image: linear-gradient(#44A08D, #093637);
}


/*  background options:
  blue: linear-gradient(#06beb6, #06beb6, #06beb6, #48b1bf, #48b1bf)
  purple and pink: linear-gradient(#642B73, #642B73, #C6426E)
  orange and yellow:  linear-gradient(#F2994A, #F2C94C)
  mint to orange (ehh): linear-gradient(#30E8BF, #FF8235)
  */

#menu-icon {
    display: none;
}

nav {
    height: 10%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /*   background: rgba(255,255,255, .1); */
}

h1 {
    font-size: 35pt;
    margin: 0;
}

h2 {
    font-size: 22pt;
}

.secondary-font {
    /*   font-family: Helvetica; */
    color: white;
    font-size: 12pt;
}

a {
    color: white;
}

nav a {
    padding: 5% 2vw 5% 2vw;
    margin: 0;
    text-decoration-line: none;
}

nav a:hover {
    color: aliceblue;
}

main {
    padding-left: 10vw;
    padding-bottom: 10vh;
    height: 80vh;
    width: 90vw;
    display: flex;
    align-items: center;
}

#title h3 {
    margin: 0;
    padding: 0;
}

#title {
    /*   padding-top: 10vh; */
}

.blink {
    font-family: "Ariel";
    animation: blink 1s infinite;
}


/*blinking*/

@keyframes blink {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* #img {
    position: fixed;
    height: 16vw;
    width: 20vw;
    margin-left: 80vw;
    background-image: url('https://cdn.pixabay.com/photo/2014/04/02/14/11/puzzle-piece-306426_960_720.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
   */


/*change on page change*/

#resume-nav {
    /*   background: #44A08D; */
    color: white;
    /*   border-radius: 10% 10% 0 0; */
}

@media only screen and (max-width: 600px) {
    #menu-icon {
        position: fixed;
        width: 70vw;
        margin-left: 90vw;
        display: block;
        clickable: true;
        cursor: pointer;
        z-index: 2;
        background-color: rgba(1, 1, 1, 0);
        transition: margin-left 1s;
    }
    #menu-icon span {
        font-size: 25pt !important;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #44A08D;
        position: fixed;
        width: 80vw;
        height: 100vh;
        margin-left: 100vw;
        z-index: 1;
        transition: background 1s, margin-left 1s;
    }
    nav a {
        color: white;
        margin-top: 5vh;
        text-shadow: 1px 1px grey;
    }
    .nav-show {
        background: #093637;
        margin-left: 20vw !important;
        transition: margin-left 1s, background 1s;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
}