body {
    height: 100vh;
    margin: 0;
    font-family: "Roboto";
    color: white;
    background-image: linear-gradient(slategray, seagreen);
}

.invisible {
    opacity: 0;
    transition: opacity 1s;
}

.visible {
    opacity: 1;
    transition: opacity 1s;
}


/*  background options:
  blue: linear-gradient(#06beb6, #06beb6, #06beb6, #48b1bf, #48b1bf)
  purple and pink: linear-gradient(#642B73, #642B73, #C6426E)
  orange and yellow:  linear-gradient(#F2994A, #F2C94C)
  mint to orange (ehh): linear-gradient(#30E8BF, #FF8235)
  !! pink to blue : linear-gradient(salmon, darkblue)
  !! green and mint? :  linear-gradient(darkseagreen, darkcyan)
  !! better blue and green: linear-gradient(royalblue, seagreen)
  
  */

#menu-icon {
    display: none;
}

nav {
    position: absolute;
    height: 10vh;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    /*   background: rgba(255,255,255, .1); */
}

nav h1 {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    margin-left: 5vw;
    color: rgba(255, 255, 255, 0.9);
}

h1 {
    font-size: 35pt;
    margin: 0;
}

h2 {
    font-size: 22pt;
}

.secondary-font {
    /*   font-family: Helvetica; */
    color: white;
    font-size: 12pt;
}

.current-page {
    /*   border-radius: 10px 10px 0 0; */
    background: rgba(255, 255, 255, 0.1);
}

a {
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

nav div {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 2vw;
    padding: 0 2vw;
    margin: 0;
}

a {
    text-decoration-line: none;
}

nav a:hover {
    color: aliceblue;
}

main {
    position: absolute;
    min-height: 100vh;
}

#home-content {
    padding-left: 10vw;
    height: 75vh;
    width: 90vw;
    display: flex;
    align-items: center;
}

#title h3 {
    margin: 0;
    padding: 0;
}

.blink {
    font-family: "Ariel";
    user-select: none;
    animation: blink 1s infinite;
}


/*blinking*/

@keyframes blink {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* #img {
    position: fixed;
    height: 16vw;
    width: 20vw;
    margin-left: 80vw;
    background-image: url('https://cdn.pixabay.com/photo/2014/04/02/14/11/puzzle-piece-306426_960_720.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
   */


/*change on page change*/

#resume-nav {
    /*   background: #44A08D; */
    color: white;
    /*   border-radius: 10% 10% 0 0; */
}

#projects-content {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
}

#projects-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    width: 95vw;
    height: 78vh;
    /*   background: rgba(255,255,255, .05); */
    padding-bottom: 5vh;
}

#projects-wrapper h3 {
    padding-left: 5vw;
    margin-bottom: 2vw;
}

#projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#projects a {
    background: rgba(255, 255, 255, 0.8);
    color: gray;
    height: 100%;
    width: 25vw;
    margin: 1vw;
    border-radius: 10pt;
    transition: background 1s;
}

#projects h3 {
    color: #093637;
}

#projects a:hover {
    background: white;
    transition: background 1s;
}

#projects .proj-img {
    height: 20vh;
    width: 25vw;
    background-size: cover;
    border-radius: 10pt 10pt 0 0;
    background-position: center;
}

#projects a .desc {
    padding: 0 2vw !important;
}

.desc h3 {
    padding: 0 !important;
}

#img1 {
    background-image: url("img/music.png");
}

#img2 {
    background-image: url("img/gpa.png");
}

#img3 {
    background-image: url("img/toaster.png");
}

#centered-content {
    position: relative;
    min-height: 90vh !important;
    top: 10vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .1);
    padding: 0;
}

#about-card {
    width: 70%;
    height: 70vh;
    padding: 3%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -5px 3px white;
}

#profile-img {
    height: 30vh;
    width: 30vh;
    margin: 0;
    border-radius: 100%;
    border: rgba(255, 255, 255, 0.7) solid 3px;
    background-image: url("img/me.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#about-text {
    text-align: center;
}

.button {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3vh;
    border-radius: 50px;
    color: gray;
}

footer {
    bottom: 0;
    height: 5vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
}

footer p {
    font-size: 7pt;
}

footer span {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    #home-content {
        height: 80vh;
    }
    #projects-body {
        height: 100%;
        background-image: linear-gradient(#44a08d, #093637, #44a08d, #093637);
    }
    #projects-wrapper {
        height: 100%;
    }
    #projects-content {
        height: 100%;
    }
    #menu-icon {
        position: fixed;
        width: 70vw;
        margin-left: 90vw;
        display: block;
        cursor: pointer;
        z-index: 2;
        background-color: rgba(1, 1, 1, 0);
        transition: margin-left 1s;
    }
    #menu-icon span {
        font-size: 25pt !important;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        position: fixed;
        width: 80vw;
        height: 100vh;
        margin-left: 100vw;
        z-index: 1;
        transition: background 1s, margin-left 1s;
    }
    nav a {
        color: white;
        margin-top: 2vh;
        text-shadow: 1px 1px grey;
    }
    .nav-show {
        background: Black;
        margin-left: 20vw !important;
        transition: margin-left 1s, background 1s;
    }
    nav ul {
        height: 50%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .current-page {
        background: none;
        border-radius: 0;
    }
    #projects-wrapper {
        margin-top: 10vh;
        width: 90vw;
    }
    #projects-wrapper h3,
    #projects-wrapper p {
        padding-left: 5vw !important;
        padding-right: 5vw !important;
    }
    #projects {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    #projects a {
        /*     display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; */
        width: 90vw;
        height: 100%;
        margin: 3vh 0vw;
    }
    #projects .proj-img {
        height: 40vh;
        width: 90vw;
        background-size: fill;
        background-repeat: no-repeat;
        border-radius: 10pt;
    }
    #profile-img {
        height: 20vh;
        width: 20vh;
    }
    #about-text p {
        font-size: 14px;
    }
    #about-text h1 {
        font-size: 30px;
    }
    #centered-content {
        top: 0;
        height: 100vh;
    }
    main {
        position: relative;
    }
    nav {
        flex-direction: column;
    }
    nav h1 {
        margin: 0;
        font-size: 20px;
    }
}